/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */
/* -------------------------------------
RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (min-width: 500px) {
  .btn-primary,
  .btn-link {
    display: inline-block !important; }
  .btn--fullwidth {
    display: block !important; }
  .header {
    padding: 12px 20px 10px !important; }
  .msg-wrapper,
  .table-wrapper {
    padding: 20px 20px 0 !important; }
    .msg-wrapper.last,
    .table-wrapper.last {
      padding-bottom: 30px !important; }
  .msg-wrapper.small {
    padding: 10px 10px 0 !important; }
  .section {
    padding: 30px 20px 20px !important; }
  .side-column,
  .body-column {
    display: table-cell !important; }
  .side-column {
    width: 24%; }
  .body-column {
    padding-top: 5px !important;
    padding-left: 20px !important; }
  .msg-box .body-column {
    padding-top: 0 !important;
    padding-left: 10px !important; } }
