/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */

// Grid
$grid:              12;

$wsSmallest:        5px;
$wsSmaller:         10px;
$wsSmall:           15px;
$wsMedium:          20px;
$wsLarge:           30px;
$wsLargest:         40px;

$width:             600px; // Width of the content area
$br:                3px; // Border radius

$bg:                #ebebeb;

// Monocrome Colors
$mcLightest:        #ffffff;
$mcLighter:         #f5f5f5;
$mcLight:           #e5e5e5;
$mcMedium:          #cccccc;
$mcDark:            #777777;
$mcDarker:          #333333;

// Colors
$cPrimary:          #009dff; // Primary color for buttons and links
$cPrimaryDark:      #0084d6; // Hover color for buttons and links
$cError:            #fcd9c6;
$cErrorDark:        #fbc9ae;
$cErrorDarker:      #8c624b;

$cSuccess:          #def3dd;
$cSuccessDark:      darken(#def3dd, 5%);
$cSuccessDarker:    darken(#def3dd, 35%);

// Mostely usede for centiment.
$cPositive:         #4bbe46;
$cNegative:         #ea5b0c;
$cNetural:          #737373;
$cUnknown:          #f2f2f2;
