/* -------------------------------------
    BODY & CONTAINER
------------------------------------- */

body {
    background-color: $bg;
}
.body-wrap {
    background-color: $bg;
    width: 100%;
}
/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
.container {
    display: block!important;
    max-width: $width!important;
    margin: 0 auto!important;
    /* makes it centered */
    clear: both!important;
}
/* This should also be a block element, so that it will fill 100% of the .container */
.content {
    max-width: $width;
    margin: 0 auto;
    display: block;
    padding: $wsSmall $wsSmaller;
}

/* -------------------------------------
    COLUMNS
------------------------------------- */

.side-column,
.body-column {
    display: block;
}
.body-column {
    padding-bottom: $wsSmall;
}

/* -------------------------------------
    HEADER, FOOTER, MAIN
------------------------------------- */

.main {
    background: $mcLightest;
    border-bottom: 1px solid $mcMedium;
    border-radius: $br;
}
.content-wrapper {
    padding: $wsSmall $wsSmall 0;
    &.last {
        padding-bottom: $wsSmall;
    }
}
.brand {
    text-align: center;
    padding-top: $wsSmall;
    img {
        width: 129px !important;
        height: 40px !important;
    }
}
.header {
    border-bottom: 1px solid $mcLight;
    padding: 12px $wsSmall $wsSmaller;
    width: 100%;
}
.section {
    border-top: 1px solid $mcLight;
    padding: $wsMedium;

    .side-column {
        text-align: center;
        padding-bottom: $wsSmall;
    }
}

/* -------------------------------------
    MESSAGE
------------------------------------- */

.msg-wrapper {
    padding: $wsSmall $wsSmall 0;
    &.small {
        padding: $wsSmallest $wsSmallest 0;
    }
    &.last {
        padding-bottom: $wsSmall;
    }
}
.msg-box {
    background-color: $mcLighter !important;
    padding: $wsMedium $wsMedium $wsSmallest;
    &.small {
        padding: $wsSmaller;
    }
    &.last {
        padding-bottom: $wsSmall;
    }
}

/* -------------------------------------
    ERRORS
------------------------------------- */
.error-box {
    background: $cError;
    padding: $wsSmaller;
    color: $cErrorDarker;
    font-weight: bold;
    font-size: 14px;
    border-left: 3px solid $cErrorDark;
}

/* -------------------------------------
    SUCCESS
------------------------------------- */
.success-box {
    background: $cSuccess;
    padding: $wsSmaller;
    color: $cSuccessDarker;
    font-weight: bold;
    font-size: 14px;
    border-left: 3px solid $cSuccessDark;
}

/* -------------------------------------
    Table
------------------------------------- */
.table-wrapper {
    padding: $wsMedium $wsMedium 0;
    &.last {
        padding-bottom: $wsSmall;
    }
}

.table {
    text-align: left;
    thead {
        tr {
            th {
                padding: 0 $wsSmaller $wsSmaller 0;
                color: #cccccc;
                font-size: 10px;
                line-height: 1.2;
                text-transform: uppercase;
                vertical-align: bottom;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: $wsSmaller $wsSmaller $wsSmaller 0;
                border-top: 1px solid #e5e5e5;
                color: $mcDark;
                font-size: 13px;
                line-height: 1.2;
                vertical-align: top;
                &.no-border {
                    border-top: none;
                }
            }
        }
    }
}
.table-striped {
    @extend .table;
    tr {
        &:nth-child(even){
            background-color: red;
        }
    }
}

.table-fixed {
    table-layout: fixed;
}


/* -------------------------------------
    CARD VIEW
------------------------------------- */

.card-header {
    background-color: $mcLightest;
    border-bottom: 1px solid $mcLight;
    padding: $wsSmaller $wsSmall;
    .card-title {
        font-size: 14px;
        line-height: 1;
        font-weight: bold;
        color: $mcDarker;
    }
}
.card-body {
    background-color: $mcLightest;
    border-bottom: 1px solid $mcLight;
    padding: $wsSmall $wsSmall;

    &.card-body--valigntop {
        td {
            vertical-align: top;
        }
    }
    &.card-body--valignmiddle {
        td {
            vertical-align: middle;
        }
    }
}

/* -------------------------------------
    BORDERS
------------------------------------- */
.border-top {
    border-top: 1px solid $mcLight;
}
.border-right {
    border-right: 1px solid $mcLight;
}
.border-bottom {
    border-bottom: 1px solid $mcLight;
}
.border-left {
    border-left: 1px solid $mcLight;
}


/* -------------------------------------
    SPACING
------------------------------------- */
.ws-t-smaller {
    padding-top: $wsSmaller;
}
.ws-t-small {
    padding-top: $wsSmall;
}
.ws-t-medium {
    padding-top: $wsMedium;
}
.ws-t-large {
    padding-top: $wsLarge;
}

.ws-r-smaller {
    padding-right: $wsSmaller;
}
.ws-r-small {
    padding-right: $wsSmall;
}
.ws-r-medium {
    padding-right: $wsMedium;
}
.ws-r-large {
    padding-right: $wsLarge;
}

.ws-b-smaller {
    padding-bottom: $wsSmaller;
}
.ws-b-small {
    padding-bottom: $wsSmall;
}
.ws-b-medium {
    padding-bottom: $wsMedium;
}
.ws-b-large {
    padding-bottom: $wsLarge;
}

.ws-l-smaller {
    padding-left: $wsSmaller;
}
.ws-l-small {
    padding-left: $wsSmall;
}
.ws-l-medium {
    padding-left: $wsMedium;
}
.ws-l-large {
    padding-left: $wsLarge;
}
/* -------------------------------------
    GRID
------------------------------------- */

@for $i from 1 through $grid {
    .span-#{$i} {
        width: ($i * 100% / $grid);
    }
}