/* -------------------------------------
    OTHER STYLES THAT MIGHT BE USEFUL
------------------------------------- */
.last {
  margin-bottom: 0;
}

.first {
  margin-top: 0;
}

.padding {
  padding: 10px 0;
}

.alignleft{
  text-align:left;
}

.aligncenter{
  text-align:center;
}

.alignright{
  text-align:right;
}

.valigntop {
    vertical-align: top;
}

.valignmiddle {
    vertical-align: middle;
}

.valignbottom {
    vertical-align: bottom;
}

.clear{
  clear:both;
}

.progress-bar {
  background-color: white;
  height: 15px;
  border: 1px solid $cPrimary;
}

.progress-bar-no-border {
  background-color: white;
  height: 15px;
  border: none;
}

.progress-bar-warrning {
  background-color: white;
  height: 15px;
  border: 1px solid $cError;
}

.progress-bar-progress {
  background-color: $cPrimary;
  padding:0 !important;
  border: none !important;
}

.progress-bar-progress-warrning {
  background-color: $cError;
  padding:0 !important;
  border: none !important;
}
.progress-bar-gutter {
  background-color: white;
  border: none !important;
  padding:0 !important;
}
.progress-bar-positive {
  background-color: $cSuccess;
  padding:0 !important;
  border: none !important;
}
.progress-bar-negative {
  background-color: $cError;
  padding:0 !important;
  border: none !important;
}
.progress-bar-neutral {
  background-color: $mcMedium;
  padding:0 !important;
  border: none !important;
}

// lists
 .list {

  &.is-inline {
    .comma-sep {
      margin-left: 2px;
    }
    .list-header {
      text-transform: uppercase;
      font-weight: bold;
      color: $mcDarker;
      display: inline-block;
      margin-right: 10px;
    }
    .list-item {
      margin-right: 2px;
      display: inline-block;
      font-weight: 400;
      font-style: italic;
      font-size: 12px;
      text-transform: capitalize;
      white-space: nowrap;
      margin-bottom: $wsSmallest;
    }
  }
 }
