/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
 h1, h2, h3 {
    color: $mcDarker;
    margin: 0 0 $wsSmallest;
    line-height: 1.2;
    font-weight: bold;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 13px;
}
h4 {
    font-size: 13px;
    color: $mcDark;
}
p, ul, ol {
    color: $mcDark;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    li {
        list-style-position: inside;
    }
}

.header {
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    color: $mcDarker;
}

.type-header {
    font-size: 16px;
    line-height: 1.2;
    font-weight: bold;
    color: $mcDarker;
}

.metric-display {
    font-size: 30px;
    line-height: 1.2;
    font-weight: bold;
    color: $mcDarker;
}

.meta {
    color: $mcDark;
    font-style: italic;
    font-size: 12px;
    line-height: 1;
}

.highlight {
    color: $cPrimary;
}

.underline {
    text-decoration: underline;
}

.name {
    margin-top: $wsSmall;
    margin-bottom: $wsSmallest;
}

// Sentiment dots
.sentiment-dot {
    font-size: 48px;
}

// Styles
.normal {
    font-style: normal;
}
.italic,
em {
    font-style: italic;
}

.bold,
strong,
b {
    font-weight: bold;
}

.text-error {
    color: $cError;
}

.text-positive {
    color: $cSuccessDark;
}
.text-negative {
    color: $cErrorDark;
}
.text-netural {
    color: $mcMedium;
}
.text-unknown {
    color: $cUnknown;
}

// Alignment
.txt-l {
    text-align: left;
}
.txt-c {
    text-align: center;
}
.txt-r {
    text-align: right;
}

// Badges

.badge {
    background-color: $cPrimary;
    border-radius: 2px;
    color: $mcLightest;
    font-weight: bold;
    text-align: center;

    &.small {
        padding: 3px 6px;
    }
    &.medium {

    }
    &.large {

    }
}
