@import 'config';
/* -------------------------------------
RESPONSIVE AND MOBILE FRIENDLY STYLES
------------------------------------- */
@media only screen and (min-width: 500px) {

    // Set buttons to not be fullwidth
    .btn-primary,
    .btn-link {
        display: inline-block !important;
    }
    .btn--fullwidth {
        display: block !important;
    }

    // Layout
    .header {
        padding: 12px $wsMedium $wsSmaller !important;
    }
    //.content-wrapper,
    .msg-wrapper,
    .table-wrapper {
        padding: $wsMedium $wsMedium 0 !important;
        &.last {
            padding-bottom: $wsLarge !important;
        }
    }

    .msg-wrapper {
        &.small {
            padding: $wsSmaller $wsSmaller 0 !important;
        }
    }

    // .msg-box {
    //     padding: $wsMedium $wsMedium $wsSmallest;
    //     &.small {
    //         padding: $wsSmaller;
    //     }
    // }

    .section {
        padding: $wsLarge $wsMedium $wsMedium !important;
    }

    // Grid
    .side-column,
    .body-column {
        display: table-cell !important;
    }
    .side-column {
        width: 24%;
    }
    .body-column {
        padding-top: $wsSmallest !important;
        padding-left: $wsMedium !important;
    }
    .msg-box {
        .body-column {
            padding-top: 0 !important;
            padding-left: $wsSmaller !important;
        }
    }
}
